<button nz-button nzType="default"><i nz-icon nzType="eye" nzTheme="outline"></i></button>
<button nz-button nzType="default" ><i nz-icon nzType="edit" nzTheme="outline"></i></button>
<button (click)="deleteUser(36)" nz-button nzType="default" nzDanger><i nz-icon nzType="delete" nzTheme="outline"></i></button>
<button nz-button nzType="primary"><i nz-icon nzType="search" nzTheme="outline"></i></button>
<button nz-button  nzType="default">Add new user</button>
<input nz-input placeholder="Search" nzSize="default" />


<button nz-button nzType="default" ><i nz-icon nzType="left" nzTheme="outline"></i></button>
<button nz-button nzType="default" >{{'1'}}</button>
<button nz-button nzType="default" >{{'2'}}</button>
<button nz-button nzType="default" ><i nz-icon nzType="right" nzTheme="outline"></i></button>


<app-user-list></app-user-list>
